<p>home works!</p>

<!-- <a routerLink="add">ADD</a>
<a routerLink="edit">EDIT</a>
<a routerLink="details">DETAILS</a> -->
<table>
    <tr>
        <td>
            Id
        </td>
        <td>
            Name
        </td>
    </tr>
    <tr *ngFor="let item of users">
        <td>
            {{item.id}}
        </td>
        <td>
            {{item.name}}
        </td>
        <td>
            <button [routerLink]="['/edit', item.id]">Edit</button>

        </td>
        <td>
            <!-- <button [routerLink]="['/detail', item.name]">Details</button> -->
              <button class="bt2" [routerLink]="['../detail'] "[queryParams]="{name:item.name}">Details</button>  
        </td>
        
    </tr>
</table>


<router-outlet></router-outlet>